<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <%- include('../partials/header.ejs') %>

    <!-- Body Content -->
    <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4 mt-4">
      <div>
        <h1>Trang chủ</h1>
        <ul class="d-flex gap-2 list-unstyled">
          <li>Chào bạn:</li>
          <li><a href="/auth/logout">Đăng xuất</a></li>
        </ul>
      </div>
    </main>
  </div>

  <!-- Footer -->
  <footer class="fixed-bottom bg-light text-center p-3">
    <%- include('../partials/footer.ejs') %>
  </footer>
</div>
